/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
   body 
    {
	    background-color: #eedbbb;
    }
hr.foot {
	margin-bottom: 0px;
}
.container
	{
		background-color: #a2998a;
		/* background-color: #efefef; */
	}
.bodycolor
	{
		background-color: #eedbbb;
	}
.container .fullwidth
	{ 
		width: 100%; 
		margin: 0px;
	}

/* MENU */
#menucontainer 
	{
		margin-top: 10px;
	}

#menucontainer ul
{
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 10px;
padding: 0;
list-style-type: none;
text-align: left;
}

#menucontainer ul li { display: inline; }

#menucontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #5b5650;
}

#menucontainer ul li a:hover
{
color: #111;
background-color: #ffcc66;
}

/* Font styles */
.italic {font-style: italic}
.alt-color {color: #ffcc66}

/* Container styles */
.alt-bg-dark {background-color: #5b5650}
.alt-bg-light {background-color: #ffffff}
.page-header { margin-bottom: 10px; }


/* Captioned image */
div.figure {
  text-align: center;	
  border: thin silver solid;
  padding: 6px;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
img.scaled {
  width: 100%;
}

/* Basic alignment */
.align-left{float: left;}
.align-center{text-align: center;}
.align-right{float: right}

img.align-left{float: left; margin: 0 15px 12px 0;}
img.align-center{text-align: center; clear: both; margin: 15px auto; display: block;}
img.align-right{float: right; margin: 0 0 12px 15px;}

/* #Page Styles
================================================== */
	#opusList { 
		border-collapse:collapse;
		margin-left: 10px;
		table-layout: fixed;
		width: 780px;
		
	}
	#opusList tr {
		background-color: #a2998a;
	}
	#opusList tr:hover {
		background-color: #eedbbb;
	}

	#opusList tr td { 
		border: 1px solid black;
		vertical-align: middle;
		text-align: center;
		padding-bottom: 0px;
		word-wrap: break-all;
		
	}



	#opusList td .opus, .year, .owner, .location, .manuals, .voices, .ranks {
		padding-left: 3px;
		padding-right: 3px;
	}
	#opusList img {margin-bottom: -5px; }

	#opusList tr.head	{
		background-color: #5b5650;
		color: #ffcc66;
		padding-right: 4px;
		padding-left: 5px;
		margin-right: 0px;
		margin-left: 0px;
		border-right: 1px solid white;
	}
	#opusList tr.head:hover	{
		background-color: #5b5650;
	}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
